@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-12">
            <h2>Claims for user</h2>
            <ul>
                @foreach (var claim in User.Identities.SelectMany(x=>x.Claims))
                {
                    <li>@claim.Type - @claim.Value</li>
                }
            </ul>
        </div>
    }
</div>
